.main {
  font-family: "Noto Sans KR", sans-serif;
  color: white;
  min-height: 100vh;
  /*화면 높이의 100%*/
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.weather-box {
  border: 3px solid #111C26;
  border-radius: 20px;
  background-color: #111C26;
  padding: 50px;
  margin: 10px;
  color: white;
  font-size: 20px;
  display: flex;
  flex-direction: column;
}

.button{
  margin: 5px;
}

.button:hover {
  box-shadow: 0 4px 8px rgba(84, 84, 84, 0.753);
  border-radius: 20px;
}

.buttons {
  display: flex;
  flex-direction: row;
}

.select {
  width: 200px;
  height: 50px;
  background-color: hsla(0, 0%, 100%, 0.527);
  border: 1px solid hsla(0, 0%, 100%, 0.527);
  color: hsl(215, 21%, 17%);
  text-align: center;
}

.select option {
  background-color: hsla(0, 0%, 100%, 0.527);
  color: #232B36;
  text-align: center;
}

.icon {
  width: 70px;
  height: 70px;
}

.smalltext {
  font-size: 15px;
}

.citytext {
  font-size: 15px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  padding: 5px;
  color: rgb(51, 51, 51);
}

.locationtext {
  border: 3px solid hsla(0, 0%, 100%, 0.527);
  border-radius: 20px;
  padding: 15px;
  margin: 10px;
  color: black;
  font-size: 20px;
  background-color: hsla(0, 0%, 100%, 0.527);
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.moretext {
  font-size: 15px;
}

.input {
  border: 1px solid hsla(0, 0%, 100%, 0.527);
  background-color: hsla(0, 0%, 100%, 0.527);
  color: rgb(51, 51, 51);
  text-align: center;
}